<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card " style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">add book</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary"  routerLink="addbook" routerLinkActive="active">Go Add Book</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card "  style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">book lists</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a  class="btn btn-primary" routerLink="listbooks" routerLinkActive="active">Go Book Lists</a>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="card " style="width: 18rem;">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">book detail</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn btn-primary"  routerLink="bookdetail" routerLinkActive="active">Go Book Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
